<div class="row">
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay tuned for future updates...</p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        Hello! I am currently studying computer science with a focus on web
        development. My interests include data analysis, AI, and gaming. My goal
        is to become a full-stack web developer and work on complex web
        applications that solve real-world problems.
      </p>
    </article>
  </section>
</div>